<!DOCTYPE html>
<html lang="en">
<head>
	{% load static %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>DM Tools</title>
	<link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
</head>
<body>
		<nav class="navbar navbar-default navbar-static-top">
			<div class="container">
				<ul class="nav navbar-nav">
					<li><a href="{% url "index" %}" class="navbar-brand">DM Tools</a></li>
					<li><a href="{% url "monsters:index" %}" class="navbar-link">Monsters</a></li>
					<li><a href="#" class="navbar-link">Other</a></li>
				</ul>
			</div>
		</nav>
	<div class="container">
	{% block body_block %}
	{% endblock %}
	</div>
  <script src="{% static "js/jquery-3.2.0.min.js" %}"></script>
	<script src="{% static "js/bootstrap.min.js" %}"></script>
</body>
</html>